/* Color
-------------------------- */
$--color-primary: #6f2fab;
$--color-black: #000000;
$--color-grey: #B4B4B4;

// Shade of Grey
$--color-grey-100: #303133;
/* 53a8ff */
$--color-grey-200: #606266;
/* 66b1ff */
$--color-grey-300: #909399;
/* 79bbff */
$--color-grey-400: #C0C4CC;
/* 8cc5ff */
$--color-grey-500: #DCDFE6;
/* a0cfff */
$--color-grey-600: #E4E7ED;
/* b3d8ff */
$--color-grey-700: #EBEEF5;
/* c6e2ff */
$--color-grey-800: #F0F2F5;
/* d9ecff */
$--color-grey-900: #F2F6FC;
/* d9ecff */
$--color-grey-1000: #F5F7FA;
/* ecf5ff */