.bg__primary {
  background-color: rgba(111,47,171,1);
  border-radius: 0.5rem;
  max-height: 550px;
  // opacity: 0.5;
  background-image: url('~/assets/images/banner-without-text.png');
  background-size: auto 100%;
  background-position-x: -5rem;
  background-repeat: no-repeat;
  margin-bottom: 3rem;
  
}

.position-relative {
  position: relative;
}

.title__banner {
  color: white;
  font-weight: 700;
  font-size: 2.25rem;
  margin-top: 8.5rem;
  margin-left: 2rem;
  width: 30rem;
}

.subtitle__banner {
  color: theme('colors.greys.700');
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  width: 30rem;
}

.app__banner {
  margin-left: 2rem;
}