.benefit-section {
  padding-bottom: 3rem;
}

.benefit__title {
  display: flow-root;
  font-size: 28px;
  line-height: 33.6px;
  text-align: center;
  margin-top: 3rem;
}

.benefit__subtitle {
  display: flow-root;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.list-check {
  list-style: none;
  padding: 0;
  margin: 0rem 0rem 2rem 0rem;

  li {
    position: relative;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
    padding: 0.75rem 0.75rem 0.75rem 0rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(0,0,0,.125);
    img {
      display: initial;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin: 0rem 1rem;
    }
  }
}