.bg__grey {
  background-color: theme('colors.greys.800');
  padding-bottom: 6rem;
  margin-bottom: 6rem;
}

.jumbotron {
  padding-top: 4rem;
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
  width: 55%;
}

.display-3 {
  width: 60%;
  font-weight: 700;
}