.slick-dots li button:before {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #717171;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.wrapper {
  margin-top: 5rem;
  margin-right: 4.5rem;
}

.slide__wrapper {
  margin-bottom: 3rem;
}

.info__header {
  color: #f76707;
  background-color: rgba(247, 103, 7, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
}

.slide__title {
  margin-top: 2rem;
  font-size: 2.25rem;
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
}

.list-check {
  list-style: none;
  padding: 0;
  margin: 0rem 0rem 2rem 0rem;

  li {
    position: relative;
    margin-bottom: 12px;
    font-weight: 500;

    img {
      display: initial;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}



@media (min-width: 992px) {
  .wrapper {
    margin-top: 5rem;
    margin-right: 4.5rem;
  }
}
