.footer__logo {
  max-width: 145px;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.header__footer {
  font-size: 1rem;
  color: theme('colors.greys.200');
  margin-bottom: 1.5rem;
}

.kominfo__footer {
  font-size: 1rem;
  color: theme('colors.greys.200');
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.alamat-text {
  width: 300px;
}

.grey__text {
  color: theme('colors.greys.200');
}

footer {
  margin-bottom: 2rem;
}

.copyright {
  color: theme('colors.greys.200');
  margin-bottom: 2rem;
}