.check__aja {
  margin-top: 4rem;
  box-shadow: 0 1px 8px 1px rgba(0,0,0,.06)!important;
}

.label__form {
  font-size: 14px;
  line-height: 21px;
  padding: 1rem 1rem;
  & div input.form-control {
    border: 1px none #ced4da;
    padding: 0.5rem 0rem;
    &:focus {
      border: 1px none #ced4da;
    }
  }
}

.search__button {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}