.jumbotron {
  padding-top: 12rem;
  padding-bottom: 6rem;
}

.center {
  justify-content: center;
  margin-bottom: 3rem;
  p {
    display: flow-root;
    text-align: center;
    font-size: 1.2rem;
  }
}

.img__rounded {
  border-radius: 1rem
}

.hero__title {
  display: flow-root;
  font-size: 3.15rem;
  width: 75%;
  text-align: center;
}

