.mission__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.mission-section {
  margin-bottom: 3rem;
}

.list-check {
  list-style: none;
  padding: 0;
  margin: 0rem 0rem 2rem 0rem;

  li {
    position: relative;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: rgba(111,47,171, 0.2);
    padding: 0.75rem 0.75rem 0.75rem 0rem;
    border-radius: 0.5rem;
    border: 2px solid rgba(111,47,171, 1);
    img {
      display: initial;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin: 0rem 1rem;
    }
  }
}

.lead {
  font-size: 1.2rem;
  font-weight: 300;
}