.bg__white {
  background-color: #FFFFFF;
}

.dropdown__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__logo {
  width: 145px;
}

.nav-item .nav-link {
  color: theme('colors.black');
  padding: 1.25rem 1.15rem;
  &:hover,
  &:focus {
      color: theme('colors.greys.200')
  }

}

.search__button .nav-link{
  padding: 0.55rem 1.15rem;
}

.primary:active:focus {
  box-shadow: 0 0 0 0.25rem rgb(111,47,171/ 50%);
}

.navbar-collapse {
  // flex-direction: column-reverse;
  justify-content: flex-end;
}

.vertical-spacer {
  margin: 1.25rem 1rem;
  width: 2px;
  height: 1.5rem;
  background: currentColor;
  opacity: .5;
}





