.teams__title {
  display: flow-root;
  font-size: 2.55rem;
  line-height: 33.6px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.teams__img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.teams__name {
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.25rem;
}

.teams__position {
  display: block;
  margin-bottom: 3rem;
}