.service-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.service__title {
  display: flow-root;
  font-size: 28px;
  line-height: 33.6px;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.service__icon {
  padding-right: 0rem;
  margin-bottom: 1rem;
  &::before {
    position: absolute;
    left: -1px;
    width: 4px;
    border-radius: 0 20px 20px 0;
    top: 0;
    height: 100%;
    background: #6f2fab;
    background: var(--kj-accent,#6f2fab);
  }
}

.service__item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 8px 1px rgba(0,0,0,.06)!important;
  
}

.card-text {
  color: theme('colors.greys.200');
}

.bg__icon{
  display: inline-block;
  border-radius: 5rem;
  background-color: rgba(111,47,171,0.1);
  padding: 1rem;
}


.card-body {
  padding-left: 1.5rem;
  padding-left: 1.5rem;
}

