<template>
  <div class="container">
     <div class="banner__wrapper">
        <b-link href="https://kiriminaja.com/pesta-pora">
          <b-img src="https://kiriminaja.com/assets/home-2/pesta-pora-new.png"/>
        </b-link>
        
      </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
  .banner__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    a img {
      border-radius: 0.5rem;
    }
  }
</style>