<template>
  <div class="container bg__primary img-section">
    <!-- <div class="img-section"></div> -->
    <div class="row position-relative">
      <div class="col-5 img__bannner">
        <b-img fluid-grow src="https://kiriminaja.com/assets/home-2/call-to-action.png"/>
      </div>
      <div class="col-7">
        <h2 class="mb-2 title__banner">Gratis daftar dalam hitungan detik</h2>
        <p class="subtitle__banner">Semua bisa mulai kirim paket tanpa ribet. Jadikan pengalaman pengiriman paket lebih mudah dengan KiriminAja.</p>
        <div class="mt-3 app__banner">
          <b-link href="https://apps.apple.com/us/app/kiriminaja/id1544207424" target="_blank">
            <b-img src="https://kiriminaja.com/assets/service/v2/appstore-compressed.png" width="150"/>
          </b-link>
          <b-link href="https://play.google.com/store/apps/details?id=id.tries.kiriminaja&hl=in" target="_blank">
            <b-img src="https://kiriminaja.com/assets/service/v2/googleplay-compressed.png" width="150"/>
          </b-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/bannerfooter";
</style>