<template>
  <div class="container">
    <div class="benefit-section">
      <div class="row">
        <span class="benefit__title">{{$t('benefit.header')}}</span>
         <span class="benefit__subtitle">{{$t('benefit.subheader')}}</span>
      </div>
      <b-row>
        <b-col class="col-lg-7">
          <b-img fluid-grow src="https://kiriminaja.com/assets/banner-home-2.png"/>
        </b-col>
        <b-col>
          <ul class="list-check">
            <li><img src="~/assets/images/icon-check.svg" />Berbagai service expedisi sameday, kargo dan lainnya.</li>
            <li><img src="~/assets/images/icon-check.svg" />Penjemputan paket tanpa minimal kiriman.</li>
            <li><img src="~/assets/images/icon-check.svg" />Fitur dropoff atau cashless.</li>
            <li><img src="~/assets/images/icon-check.svg" />Kirim paket COD dengan pencairan tercepat.</li>
            <li><img src="~/assets/images/icon-check.svg" />Platform mudah digunakan (user friendly).</li>
            <li><img src="~/assets/images/icon-check.svg" />Meminimalisir rasio retur.</li>
          </ul>
        </b-col>
        
      </b-row>
    </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/benefit";
</style>