<template>
  <div class="bg__grey">
    <div class="container">
      <b-jumbotron header="Anda dalah kami selanjutnya?">
        <p class="lead">Jika anda memiliki passion tinggi dan menyukai tantangan. Mari berkontribusi kepada bangsa dengan membantu UMKM dan pebisnis online tumbuh.</p>
        <b-button pill variant="primary" class="btn full-radius py-2" href="#">Berkarir di KiriminAja</b-button>
      </b-jumbotron>
    </div>
  </div>
  
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/career";
</style>