<template>
  <div class="container pt-5 wrapper">
      <VueSlickCarousel :arrows="false" :dots="true" autoplay>
        <div class="slide__wrapper" v-for="slide in slides" :key="slide.id">
          <div class="row">
            <div class="col-5">
              <div class="ms-lg-4">
                <div class="mx-lg-4">
                  <b-img fluid-grow :src="slide.img" width="437px" :alt="slide.judul"/>
                </div>
              </div>
            </div>
            <div class="col-7">
              <div class="wrapper">
                <span class="info__header">#{{slide.id}} {{ slide.typeSlide}}</span>
                <h2 class="slide__title">{{slide.judul}}</h2>
                <p class="lead">{{slide.deskripsi}}</p>
                <ul class="list-check">
                  <li v-for="item in slide.item" :key="item"><img src="~/assets/images/icon-check.svg" /> {{item}}</li>
                </ul>
                <b-button pill variant="primary" class="btn full-radius py-2">{{$t('carousel.selengkapnya')}}</b-button>
              </div>
            </div>
          </div>
        </div>

        <template #customPaging="page">
          <div class="custom-dot">
            <button class="dot-carousel"></button>
          </div>
        </template>
      </VueSlickCarousel>
  </div>
</template>

<script>
  import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

  const props = {
    slides: {
      type: Array,
      required: true
    }
  }

  export default {
    props,
    components: {
      VueSlickCarousel,
    },
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/carousel";
</style>