<template>
  <div class="container">
    <VueSlickCarousel
      v-bind="setting"
      autoplay
    >
      <div class="expedition__wrapper" v-for="slide in slides" :key="slide.id">
        <b-img :src="slide.img" height="40px" />
      </div>

    </VueSlickCarousel>
  </div>
</template>

<script>
  import VueSlickCarousel from 'vue-slick-carousel' 
  // import 'vue-slick-carousel/dist/vue-slick-carousel.css'
  // import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

  const props = {
    slides: {
      type: Array,
      required: true
    }
  }
  const data = function (){
    return {
      setting: {
        dots: false,
        focusOnSelect: true,
        infinite: true,
        speed: 200,
        slidesToShow: 6,
        slidesToScroll: 1,
        touchThreshold: 5,
        variableWidth: false
      },
      slots: [1,2],
      slot1: 6,

    }
    
  }

  export default {
    props,
    data,
    components: {
      VueSlickCarousel,
    },
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/expedition";

</style>