<template>
  <div class="container">
    <footer>
      <div class="navbar-brand">
        <b-img src="~/assets/images/svg-logo-primary.svg" class="footer__logo" fluid alt="KiriminAja Logo"></b-img>
      </div>
      <b-row>
        <b-col cols="6">
          <h4 class="header__footer">PT. Selalu Siap Solusi</h4>
          <div class="row">
            <div class="col-auto">
              <b-img src="~/assets/images/location-icon.svg"></b-img>
            </div>
            <div class="col">
              <p class="grey__text alamat-text">Jl. Palagan Tentara Pelajar No. 30 KM 08, Mudal, Kelurahan Sariharjo, Kecamatan Ngaglik, Kabupaten Sleman, Provinsi Daerah Istimewa Yogyakarta</p>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <b-img src="~/assets/images/email-icon.svg"></b-img>
            </div>
            <div class="col">
              <p class="grey__text">support@kiriminaja.com</p>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <b-img src="~/assets/images/phone-icon.svg"></b-img>
            </div>
            <div class="col">
              <p class="grey__text">0274 8000 123</p>
            </div>
          </div>
        </b-col>
        <b-col cols="3">
          <h4 class="header__footer">Tautan Cepat</h4>
          <div class="row">
            <b-link href="/cekaja">
              <p>Cek Tarif Aja</p>
            </b-link>
          </div>
          <div class="row">
            <b-link href="/kabar">
              <p>Kabar Buatmu</p>
            </b-link>
          </div>
          <div class="row">
            <b-link href="/praktisin">
              <p>Manajemen Order</p>
            </b-link>
          </div>
          <div class="row">
            <b-link href="/api-integration">
              <p>Integrasi API</p>
            </b-link>
          </div>
          <div class="row">
            <b-link href="/careers">
              <p>Karir</p>
            </b-link>
          </div>
        </b-col>
        <b-col cols="2">
          <h4 class="header__footer">KiriminAja</h4>
          <div class="row">
            <b-link href="/about">
              <p>Tentang Kami</p>
            </b-link>
          </div>
          <div class="row">
            <b-link href="/kabar">
              <p>Kebijakan Privasi</p>
            </b-link>
          </div>
          <div class="row">
            <b-link href="/praktisin">
              <p>Fakta & Pertanyaan</p>
            </b-link>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <h4 class="kominfo__footer">KiriminAja</h4>
        <b-link href="https://pse.kominfo.go.id/tdpse-detail/938">
          <b-img src="https://kiriminaja.com/assets/home-2/logo-kominfo.svg"/>
        </b-link>
      </b-row>
    </footer>
    <div>
      <p class="copyright">
        Copyright © 
        <span class="current-year">2022 </span>
        <b-link href="https://kiriminaja.com/">
          KiriminAja.com. 
        </b-link>
        All rights reserved.
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
@import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/footer";
</style>