<template>
  <div class="container">
    <b-card class="check__aja">
      <b-row>
        <b-col>
          <b-form-group
            id="fieldset-1"
            label="From*"
            label-for="input-1"
            valid-feedback="Thank you!"
            class="label__form"
          >
            <b-form-input id="input-1" placeholder="Kecamatan asal" v-model="asal" trim></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="fieldset-1"
            label="Destination*"
            label-for="input-1"
            valid-feedback="Thank you!"
            class="label__form"
          >
            <b-form-input id="input-1" placeholder="Kecamatan tujuan" v-model="tujuan" trim></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group
            id="fieldset-1"
            label="Berat (Gram)*"
            label-for="input-1"
            valid-feedback="Thank you!"
            class="label__form"
          >
            <b-form-input id="input-1" placeholder="1000" type="number" v-model="berat" trim></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="1" class="d-flex align-items-center">
          <b-button variant="primary" class="btn bn-lg py-2 search__button"><b-icon icon="search" class="search__icon"></b-icon></b-button>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
  import { BootstrapVue, BootstrapVueIcons, BIcon } from 'bootstrap-vue'

  const components = {
    BootstrapVue,
    BootstrapVueIcons,
    BIcon
  }

  const data = function (){
    return {
      asal: null,
      tujuan: null,
      berat: null,
    }
  }

  export default {
    components,
    data
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/formcheck";  
</style>