<template>
  <div class="container">
    <b-jumbotron>
      <div class="row center">
        <h1 class="hero__title"><span class="header-primary">Memberi solusi teknologi</span> untuk kebutuhan supply chain yang mempermudah ekosistem bisnis Indonesia berkembang.</h1>
        <p>Pengiriman untuk UMKM, Pebisnis Online, dan seluruh masyarakat Indonesia.</p>
      </div>
      <b-img fluid-grow class="img__rounded" src="https://kiriminaja.com/assets/atrust/all_team.jpg"/>
      
    </b-jumbotron>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
@import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/heroteam";
</style>