<template>
  <div class="container">
    <div class="mission-section">
      <b-row>
        <b-col class="col-lg-6">
          <div class="row">
            <span class="mission__title">Our Mission</span>
          </div>
          <ul class="list-check">
            <li><img src="~/assets/images/icon-check.svg" />Meningkatkan penjualan produk UMKM secara online.</li>
            <li><img src="~/assets/images/icon-check.svg" />Memberikan inovasi-inovasi terbaru dan terbaik.</li>
            <li><img src="~/assets/images/icon-check.svg" />Memberikan pelayanan yang maksimal dan optimal untuk pelanggan.</li>
            <li><img src="~/assets/images/icon-check.svg" />Mengenalkan KiriminAja seluas-luasnya ke seluruh Indonesia.</li>
          </ul>
        </b-col>
        <b-col>
          <p class="lead">
            <span class="header-primary">KiriminAja</span>
            sebuah platform yang memberikan kemudahan untuk pengiriman paket dan menemukan ekspedisi sesuai kebutuhan masyarakat, dengan metode pengiriman COD dan Non-COD yang dikembangkan oleh PT Selalu Siap Solusi.
          </p>
          <p class="lead">
            <span class="fw-medium">KiriminAja</span> 
            memberikan solusi untuk UMKM, pebisnis online, serta seluruh masyarakat Indonesia yang ingin melakukan pengiriman paket.
          </p>
          <p class="lead"><span class="fw-medium">KiriminAja</span> menawarkan:</p>
          <ul class="lead">
            <li>Kemudahan pengiriman paket dengan pilihan berbagai ekspedisi.</li>
            <li>Adanya layanan pengiriman COD (Cash On Delivery) dengan pencairan dana harian dan sistem
                pengambilan paket dirumah oleh ekspedisi.
            </li>
            <li>Layanan pengiriman paket non-cod dengan sistem pengambilan paket dirumah oleh ekspedisi.
            </li>
            <li>Platform yang dapat membantu pebisnis online mengendalikan dan mengelola bisnisnya dengan
                lebih baik.
            </li>
          </ul>
          <p class="lead">Dengan layanan dan inovasi yang ditawarkan, KiriminAja memiliki komitmen untuk berkontribusi pada perekonomian Indonesia, dengan cara memberikan solusi serta kemudahan bagi para pebisnis online supaya bisnisnya terus berkembang.</p>
        </b-col>
        
      </b-row>
    </div>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/mission";

</style>