<template>
  <div>
    <b-navbar toggleable="lg" type="dark" :class="{bg__white: scrollPosition > 50}"  fixed="top">
      <div class="container">
        <b-navbar-brand>
          <NuxtLink to="/">
            <b-img src="~/assets/images/svg-logo-primary.svg" class="img__logo" fluid alt="KiriminAja Logo"></b-img>
          </NuxtLink>
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="/">{{$t('navbar.beranda')}}</b-nav-item>
            <b-nav-item href="#">{{$t('navbar.blog')}}</b-nav-item>
            <b-nav-item href="#">{{$t('navbar.kabar')}}</b-nav-item>
            <b-nav-item-dropdown :text="$t('navbar.layanan')" class="dropdown__nav" right>
              <b-dropdown-item href="#">{{$t('navbar.layanan')}} 1</b-dropdown-item>
              <b-dropdown-item href="#">{{$t('navbar.layanan')}} 2</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item href="#">{{$t('navbar.cekongkir')}}</b-nav-item>
            <b-nav-item href="#">{{$t('navbar.lacak')}}</b-nav-item>
            <div class="vertical-spacer"></div>
            <b-nav-item href="#">{{$t('navbar.daftar')}}</b-nav-item>
            <b-nav-item href="#" class="search__button">
              <b-button pill variant="primary" class="btn full-radius py-2 masuk__button">{{$t('navbar.masuk')}}</b-button>
            </b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </div>
    </b-navbar>
  </div>
</template>

<script>
  const data = function (){
    return {
      scrollPosition: null
    }
  }
  
  const methods = {
    updateScroll() {
      this.scrollPosition = window.scrollY
    }
  }

  export default {
    data,
    methods,
    mounted() {
      window.addEventListener('scroll', this.updateScroll);
    }
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/navbar";
</style>