<template>
  <div class="container">
    <div class="service-section">
      <div class="row">
        <span class="teams__title">Our Teams</span>
      </div>
     <b-row cols="3">
      <b-col v-for="team in teams" :key="team.id">
        <b-img fluid-grow class="teams__img" :src="team.img"/>
        <span class="teams__name">{{team.name}}</span>
        <span class="teams__position">{{team.position}}</span>
      </b-col>
    </b-row>
    </div>
    
  </div>
</template>

<script>
  const props = {
    teams: {
      type: Array,
      required: true
    }
  }

  export default {
    props
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/ourteams";
</style>