<template>
  <div class="container">
    <div class="service-section">
      <div class="row">
        <span class="service__title">{{$t('services.header')}}</span>
      </div>
      <b-row>
        <b-col>
          <b-card no-body class="service__item">
            <b-card-body>
              <div class="py-2 service__icon">
                <div class="bg__icon">
                  <b-img src="~/assets/images/service/service-1.svg" width="28" height="28" alt="Image"></b-img>
                </div>
              </div>
              <b-card-title>Layanan Terintegrasi</b-card-title>
              <b-card-text>
                Dashboard, API, Dan Mobile kami sediakan untuk mengontrol & monitoring lebih mudah.
              </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col>
          <b-card no-body class="service__item">
            <b-card-body>
              <div class="py-2 service__icon">
                <div class="bg__icon">
                  <b-img src="~/assets/images/service/service-2.svg" width="28" height="28" alt="Image"></b-img>
                </div>
              </div>
              <b-card-title>Ekspedisi Terbaik</b-card-title>
              <b-card-text>
                Kamu bisa pilih layanan sameday, next day, reguler, ekonomi, kargo dan lainya sesukamu.
              </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col>
          <b-card no-body class="service__item">
            <b-card-body>
              <div class="py-2 service__icon">
                <div class="bg__icon">
                  <b-img src="~/assets/images/service/service-3.svg" width="28" height="28" alt="Image"></b-img>
                </div>
              </div>
              <b-card-title>Sistem Otomatis</b-card-title>
              <b-card-text>
                Cetak resi / AWB, tracking, saldo COD dan banyak fitur lainnya.
              </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>

      <b-row>
        <b-col>
          <b-card no-body class="service__item">
            <b-card-body>
              <div class="py-2 service__icon">
                <div class="bg__icon">
                  <b-img src="~/assets/images/service/service-4.svg" width="28" height="28" alt="Image"></b-img>
                </div>
              </div>
              <b-card-title>Selalu Ada Untukmu</b-card-title>
              <b-card-text>
                Kami selalu ada tanpa libur 24 Jam non stop, dan pihak ekpedisi.
              </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col>
          <b-card no-body class="service__item">
            <b-card-body>
              <div class="py-2 service__icon">
                <div class="bg__icon">
                  <b-img src="~/assets/images/service/service-5.svg" width="28" height="28" alt="Image"></b-img>
                </div>
              </div>
              <b-card-title>Laporan Aktual</b-card-title>
              <b-card-text>
                Kemudahan pantau paket, pencairan COD, saldo, semuanya.
              </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
        <b-col>
          <b-card no-body class="service__item">
            <b-card-body>
              <div class="py-2 service__icon">
                <div class="bg__icon">
                  <b-img src="~/assets/images/service/service-6.svg" width="28" height="28" alt="Image"></b-img>
                </div>
              </div>
              <b-card-title>Friendly</b-card-title>
              <b-card-text>
                Ciptakan solusi terbaik dengan masukan, kritik, dan diskusi.
              </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
    
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>
  @import '~/assets/scss/configs/index';
  // Override style
  @import "~/assets/scss/components/service";

</style>