.dropdown-toggle::after {
  color: theme('colors.black');
}

.dropdown-menu {
  top: 3rem
}

.btn {
  padding: 0rem 2rem;
}

.btn-primary {
  background-color: theme('colors.primary');
  border-color: theme('colors.primary');
  &:hover {
    background-color: #5e2891;
    border-color: #592689;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .75rem; 
}

.header-primary {
  color: theme('colors.primary');
}

.fw-medium {
  font-weight: 500;
}