@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');

body {
    font-family: theme('fonts.families.dmsans'), sans-serif;
    // background-color: theme('colors.greys.1000');
    background: rgb(111,47,171);
    background: linear-gradient(202deg, rgba(111,47,171,0.3) 0%, rgba(111,47,171,0.1) 20%, rgba(111,47,171,0.05) 40%,rgba(111,47,171,0.01) 60%, rgba(246, 246, 247, 1) 100%);
    min-height: 100vh;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: theme('fonts.families.dmsans'), sans-serif;
}

h1 {
  font-size: theme('fonts.sizes.16');
}

h2 {
    font-size: theme('fonts.sizes.12');
}
h3 {
    font-size: theme('fonts.sizes.11');
}


a {
    color: theme('colors.black');
    text-decoration: none;
    margin-top: 0;
    // margin-bottom: 1rem;
    &:hover,
    &:focus {
        // text-decoration: underline;
        color: theme('colors.greys.800')
    }

    &:visited {
        color: theme('colors.primary')
    }
}

p {
    font-family: theme('fonts.families.dmsans'), sans-serif;
    line-height: 24px;
    color: theme('colors.black');
}

span {
    font-family: theme('fonts.families.dmsans'), sans-serif;
    line-height: 24px;
    color: theme('colors.black');
}
