<template>
  <div>
    <Navbar />
    <Heroteam />
    <Mission />
    <Ourteams :teams="listTeams" />
    <Career />
    <Bannerfooter />
    <Footer />
  </div>
</template>

<script>
import Navbar from '~/components/Navbar.vue';
import Heroteam from '~/components/Heroteam.vue';
import Mission from '~/components/Mission.vue';
import Ourteams from '~/components/Ourteams.vue';
import Bannerfooter from '~/components/Bannerfooter.vue';
import Footer from '~/components/Footer.vue';
import Career from '~/components/Career.vue';

const asyncData = async function({ app, store }) {
    let teams;
    teams = await app.$teams.get()
    .catch(function(error) {
      console.log(error)
    })
    
    store.commit('teams/add', teams.data)
  }

  const computed = {
    listTeams: function() {
      return this.$store.state.teams.listTeams
    }
  }

export default {
  asyncData,
  computed,
  components: {
    Navbar,
    Heroteam,
    Mission,
    Ourteams,
    Career,
    Bannerfooter,
    Footer
  }
}
</script>

<style lang="scss">
@import '~/assets/scss/configs/index';
@import '~/assets/scss/commons/index';
</style>