<template>
  <div>
    <Navbar />
    <Carousel :slides="listSlide"/>
    <Formcheck />
    <Expedition :slides="listExpeditions"/>
    <Banner />
    <Service />
    <Benefit />
    <Bannerfooter />
    <Footer />
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import Carousel from '../components/Carousel.vue';
import Formcheck from '../components/Formcheck.vue';
import Expedition from '../components/Expedition.vue';
import Banner from '../components/Banner.vue';
import Service from '../components/Service.vue';
import Benefit from '../components/Benefit.vue';
import Bannerfooter from '../components/Bannerfooter.vue';
import Footer from '../components/Footer.vue';

const asyncData = async function({ app, store }) {
    let slider, expedition;
    slider = await app.$slider.get()
    .catch(function(error) {
      console.log(error)
    })
    expedition = await app.$expedition.get()
    .catch(function(error) {
      console.log(error)
    })
    
    store.commit('slide/add', slider.data)
    store.commit('expedition/add', expedition.data)
  }

  const computed = {
    listSlide: function() {
      return this.$store.state.slide.listSlide
    },
    listExpeditions: function() {
      return this.$store.state.expedition.listExpeditions
    }
  }

export default {
  asyncData,
  computed,
  components: {
    Navbar,
    Carousel,
    Formcheck,
    Expedition,
    Banner,
    Service,
    Benefit,
    Bannerfooter,
    Footer
  }
}
</script>

<style lang="scss">
@import '~/assets/scss/configs/index';
@import '~/assets/scss/commons/index';
</style>